extends ../../layout

block content
  -
    var category = entry.slug, ids, posts;
    ids = entry.posts.map(function(post) { return post.sys.id; });
    posts = contentful.blog_posts.filter(function(post) {
      return ids.indexOf(post.sys.id) > -1;
    });

  include ../_posts_index.jade
