%vertical-align-container {
  display: table;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

%vertical-align-text {
  display: table-cell;
  margin: 0 auto;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

%author {
  color: $white;
  text-transform: uppercase;
  font-weight: 300;
}

%overlay {
  @extend %vertical-align-container;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%social-items {
  padding: .125rem;
  text-align: center;

  img {
    margin: 0;
    width: 100%;
    border: 1px solid $grey;
  }
}

%quote {
  // text-transform: uppercase;

  > p {
    font-weight: 300;
    font-size: 1.125rem;
  }

  strong {
    font-weight: 700;
  }

  .author {
    @extend %author;
  }

  .quote-mark {
    font-size: 2rem;
    color: $grey;

    &:nth-child(1) {
      margin-left: -.5rem;
      
      @media #{$large-up} {
        margin-left: -2rem;
      }
    }

    &:nth-of-type(2) {
      line-height: 0;
    }
  }
}
